.vscode/*
particles.code-workspace
src/.vscode/
*.o
particles-demo
rules.ninja
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
build.ninja
cmake_install.cmake
rules.ninja
glfw-build/*
include/free_list_template.hpp
build/
*.csv
before
after

